<% classroom = @classroom || current_classroom %>

<nav class="menu">
  <span class="menu-heading"><%= t('views.classrooms.classroom_settings') %></span>

  <%= link_to t('views.classrooms.classroom_profile'), edit_classroom_path(classroom),
              class: "menu-item #{'selected' if current_page?(edit_classroom_path(classroom))}" %>

  <% if team_management_enabled? %>
    <%= link_to t('views.classrooms.team_management'), settings_teams_classroom_path(classroom),
                class: "menu-item #{'selected' if current_page?(settings_teams_classroom_path(classroom))}" %>
  <% end %>

  <%= link_to t('views.classrooms.invite_other_admin'),
              settings_invitations_classroom_path(classroom),
              class: "menu-item #{'selected' if current_page?(settings_invitations_classroom_path(classroom))}" %>

  <% if student_identifier_enabled? %>
    <%= link_to 'Roster management', roster_path(classroom),
                class: "menu-item #{'selected' if current_page?(roster_path(classroom))}" %>
  <% end %>
</nav>
